/*Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header and Hero Combined Section */
.header-hero {
    background-image: url('images/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: transparent;
    padding: 20px 0;
    position: relative;
    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
}

.sign-up-btn {
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

.sign-up-btn:hover {
    background-color: #4E47FF;
}

/* Hero Section */
.hero {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.hero-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}

.cta-btn {
    background-color: #4E47FF;
    color: white;
    border: none;
    padding: 16px 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    
    
}



